%h1 Slopegraphs

.content
  %h2 % GDP Spent vs Avg Life Expectancy (2011)
  .slopegraph
  .source
    %a{href: 'http://www.oecd.org/els/health-systems/oecdhealthdata2013-frequentlyrequesteddata.htm'}
      OECD Health 2013 - Frequently Requested Data
